/* scss/initialization/_variables.scss */
/* scss/initialization/_functions.scss */
/* scss/initialization/_mixins.scss */
/* scss/initialization/_general.scss */
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
html, body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
  color: #444444;
  background-color: rgba(21, 94, 99, 0.1);
}

::selection {
  color: #444444;
  background-color: rgba(21, 94, 99, 0.1);
}

@media (min-width: 1900px) {
  .container-fluid {
    max-width: 1920px;
  }
}

a:hover {
  text-decoration: none;
}

@media (min-width: getBreakpoint(desktop)) {
  .container {
    max-width: 1140px;
  }
}

.indent-section {
  padding-left: 6.25rem;
  padding-right: 6.25rem;
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}

@media (max-width: 1130px) {
  .indent-section {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

.main-section {
  position: relative;
  z-index: 110;
  background-color: #FFF;
}

.text--idle {
  visibility: hidden;
}

.bg-gray {
  background-color: #F9F9F9;
}

.splitText__word {
  font-size: 1em;
  vertical-align: top;
  overflow: hidden;
  display: inline-block;
  position: relative;
}

.splitText__word:before {
  content: attr(data-content) " ";
  display: inline-block;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: -webkit-transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.splitText__word--idle:before {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.breadcrumb {
  background-color: transparent;
  padding-left: 0px;
}

.breadcrumb li:not(.active) a {
  font-family: "Open Sans", sans-serif;
  color: #707070;
}

.breadcrumb li.breadcrumb-item.active {
  color: #155E63;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
}

.card__shadow--light {
  -webkit-box-shadow: 0px 6px 14px 0px rgba(33, 37, 41, 0.101961);
          box-shadow: 0px 6px 14px 0px rgba(33, 37, 41, 0.101961);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.card__shadow--light:hover {
  -webkit-box-shadow: 0px 6px 14px 0px rgba(33, 37, 41, 0.201961);
          box-shadow: 0px 6px 14px 0px rgba(33, 37, 41, 0.201961);
}

.card__shadow--dark {
  -webkit-box-shadow: 0px 1px 18px 0px rgba(33, 37, 41, 0.36);
          box-shadow: 0px 1px 18px 0px rgba(33, 37, 41, 0.36);
}

.modal-backdrop {
  z-index: 5600;
  display: none !important;
  pointer-events: none;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  height: 149px;
  pointer-events: none;
}

.wave.wave-up {
  bottom: unset;
  top: -149px;
}

h1 {
  font-size: 45px;
  font-size: 2.8125rem;
}

@media (max-width: 660px) {
  h1 {
    font-size: 120%;
  }
}

h2 {
  font-size: 37px;
  font-size: 2.3125rem;
}

@media (max-width: 660px) {
  h2 {
    font-size: 120%;
  }
}

h3 {
  font-size: 32px;
  font-size: 2rem;
}

@media (max-width: 660px) {
  h3 {
    font-size: 120%;
  }
}

h4 {
  font-size: 27px;
  font-size: 1.6875rem;
}

@media (max-width: 660px) {
  h4 {
    font-size: 120%;
  }
}

h5 {
  font-size: 21px;
  font-size: 1.3125rem;
}

@media (max-width: 660px) {
  h5 {
    font-size: 120%;
  }
}

h6 {
  font-size: 18px;
  font-size: 1.125rem;
}

@media (max-width: 660px) {
  h6 {
    font-size: 120%;
  }
}

small {
  font-size: 13px;
  font-size: 0.8125rem;
}

@media (max-width: 660px) {
  small {
    font-size: 120%;
  }
}

p {
  font-size: 25px;
  font-size: 1.5625rem;
}

@media (max-width: 660px) {
  p {
    font-size: 120%;
  }
}

.section-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #155E63;
  letter-spacing: 3px;
  border-bottom: 1px solid #53616E;
  width: calc(100% - 100px);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.section-title.centered {
  text-transform: capitalize;
  border: 0px solid transparent;
  letter-spacing: 0px;
  text-align: center;
  width: 100%;
  font-size: 40px;
  font-size: 2.5rem;
}

.section-title.full-width {
  width: 100%;
}

@media (max-width: 1130px) {
  .section-title {
    margin-left: 0px;
  }
}

@media (max-width: 1024px) {
  .section-title {
    width: 100%;
  }
}

.article-content * {
  text-align: left !important;
}

.article-content .category {
  color: #444444;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-size: 15px;
  font-size: 0.9375rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
}

.article-content .title {
  color: #155E63;
  font-family: "Merriweather", serif;
  font-weight: 400;
  margin-bottom: 10px;
  font-size: 35px;
  font-size: 2.1875rem;
}

.article-content .title.smaller {
  font-size: 1.125rem !important;
  margin-bottom: 3px;
}

.article-content .description {
  color: #444444;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.6;
  margin-bottom: 40px;
}

.article-content .description.smaller {
  font-size: 13px;
  font-size: 0.8125rem;
}

.article-content .description p {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.6;
}

.article-content .description.bio p, .article-content .description.article p {
  margin-bottom: 50px;
  font-size: 17px;
  line-height: 2.4;
  font-family: "Merriweather", serif;
}

.article-content > a.feature-head {
  margin-top: 10px;
}

.article-content > a.feature-head:hover .category {
  background-color: rgba(21, 94, 99, 0.1);
}

.styled-links.dark a:not(.link-re) {
  position: relative;
  color: #2b2b2b;
  z-index: 50;
  background-color: rgba(21, 94, 99, 0.1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.styled-links.dark a:not(.link-re):hover {
  text-decoration: none;
  background-color: rgba(21, 94, 99, 0.2);
}

.link-re {
  position: relative;
  padding-right: 50px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #155E63;
}

.link-re:after {
  position: absolute;
  content: '';
  right: 0px;
  top: 51%;
  -webkit-transform: translateY(-45%);
          transform: translateY(-45%);
  width: 30px;
  height: 30px;
  background-image: url("../img/icons/arrow-left-grn.svg");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 1;
}

.link-re:hover:after {
  -webkit-animation-name: arrowSlideRight;
          animation-name: arrowSlideRight;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.link-re:hover {
  color: #002F33;
}

.vertical-link-list {
  padding-top: 10px;
}

.vertical-link-list img {
  width: 20px;
  margin-right: 10px;
}

.vertical-link-list > * {
  color: #444444;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-size: 17px;
  font-size: 1.0625rem;
}

.vertical-link-list.light * {
  color: #FFF;
}

.vertical-link-list > a {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  position: relative;
  padding-right: 20px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.vertical-link-list > a:after {
  position: absolute;
  content: '';
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 11px;
  background-image: url("../img/icons/caret-right.svg");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.vertical-link-list > a:hover:after {
  right: 10px;
  -webkit-transform: translateY(-50%) rotate(180deg) translateX(5px);
          transform: translateY(-50%) rotate(180deg) translateX(5px);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

@media (max-width: 660px) {
  .vertical-link-list > a:hover:after {
    right: 0px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.vertical-link-list > a:hover {
  padding-left: 10px;
  text-decoration: none;
}

@media (max-width: 660px) {
  .vertical-link-list > a:hover {
    padding-left: 0px;
  }
}

.vertical-link-list.dark > a:hover {
  color: #155E63;
}

.vertical-link-list.dark > a:after {
  background-image: url("../img/icons/caret-right-dark.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.gradient-1 {
  background: -webkit-gradient(linear, left top, right top, from(#155E63), to(#8E56C6));
  background: linear-gradient(to right, #155E63 0%, #8E56C6 100%);
  background-clip: text;
  fill: transparent;
}

.gradient-2 {
  background: -webkit-gradient(linear, left top, right top, from(#045D63), to(#C67156));
  background: linear-gradient(to right, #045D63 0%, #C67156 100%);
  background-clip: text;
  fill: transparent;
}

.gradient-3 {
  background: -webkit-gradient(linear, left top, right top, from(#045D63), to(#00C0C0));
  background: linear-gradient(to right, #045D63 0%, #00C0C0 100%);
  background-clip: text;
  fill: transparent;
}

.gradient-4 {
  background: -webkit-gradient(linear, left top, right top, from(#7A00C0), to(#045D63));
  background: linear-gradient(to right, #7A00C0 0%, #045D63 100%);
  background-clip: text;
  fill: transparent;
}

.navbar {
  height: 90px;
  background-color: #FFF;
  z-index: 5500;
}

body {
  padding-top: 90px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 3.125rem;
  padding-right: 3.125rem;
}

@media (max-width: 1440px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
}

@media (max-width: 1130px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

@media (min-width: 1200px) {
  .navbar-brand {
    margin-left: 5rem;
  }
}

.megamenu-li {
  position: static;
}

.megamenu {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  padding: 15px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.megamenu.show {
  margin-top: -1px;
  margin-left: -1px;
  width: calc(100% + 2px);
  border-radius: 0px;
  border-top: 0px;
}

@media (min-width: 1100px) {
  .container-fluid.container-megamenu {
    max-width: calc(100% - 11%);
  }
}

.sidebar {
  position: fixed;
  top: 90px;
  right: -330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 5000;
  height: calc(100% - 90px);
  max-width: 320px;
  min-width: 320px;
  font-family: raleway;
  background: #FFF;
  -webkit-box-shadow: 0px 6px 14px 0px rgba(33, 37, 41, 0.101961);
          box-shadow: 0px 6px 14px 0px rgba(33, 37, 41, 0.101961);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  display: none;
}

.sidebar:hover {
  -webkit-box-shadow: 0px 6px 14px 0px rgba(33, 37, 41, 0.201961);
          box-shadow: 0px 6px 14px 0px rgba(33, 37, 41, 0.201961);
}

.sidebar .section {
  padding: 20px;
}

@media (max-width: 990px) {
  .sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.sidebar.open {
  -webkit-transform: translateX(-320px);
          transform: translateX(-320px);
}

.nav-sidebar {
  max-height: 800px;
  overflow-y: auto;
}

.item {
  font-family: "Merriweather", serif;
  font-weight: 400;
  padding: 5px;
}

.item a {
  font-size: 17px;
  color: #444444;
}

.item.open .section-level-2 {
  right: 200px;
}

.mobile-menu {
  position: absolute;
  top: 30px;
  right: 15px;
  z-index: 4500;
}

.mobile-menu:hover {
  cursor: pointer;
}

.hamburglar {
  display: none;
  -webkit-transform: scale(1);
          transform: scale(1);
  position: fixed;
  width: 68px;
  height: 68px;
  top: 10px;
  right: 10px;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 990px) {
  .hamburglar {
    display: block;
  }
}

.path-burger {
  position: absolute;
  top: 0;
  left: 0;
  height: 68px;
  width: 68px;
  -webkit-mask: url(#mask);
          mask: url(#mask);
  -webkit-mask-box-image: url(https://raygun.io/upload/mask.svg);
}

.animate-path {
  position: absolute;
  top: 0;
  left: 0;
  width: 68px;
  height: 68px;
}

.path-rotation {
  height: 34px;
  width: 34px;
  margin: 34px 34px 0 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

.path-rotation:before {
  content: '';
  display: block;
  width: 30px;
  height: 34px;
  margin: 0 4px 0 0;
  background: #155E63;
}

.svg-ring path {
  stroke: #155E63;
}

@-webkit-keyframes rotate-out {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-out {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate-in {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  40% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotate-in {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  40% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.hamburglar.is-open .path {
  -webkit-animation: dash-in 0.6s linear normal;
          animation: dash-in 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.hamburglar.is-open .animate-path {
  -webkit-animation: rotate-in 0.6s linear normal;
          animation: rotate-in 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.hamburglar.is-closed .path {
  -webkit-animation: dash-out 0.6s linear normal;
          animation: dash-out 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.hamburglar.is-closed .animate-path {
  -webkit-animation: rotate-out 0.6s linear normal;
          animation: rotate-out 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.path {
  stroke-dasharray: 240;
  stroke-dashoffset: 240;
  stroke-linejoin: round;
}

@-webkit-keyframes dash-in {
  0% {
    stroke-dashoffset: 240;
  }
  40% {
    stroke-dashoffset: 240;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash-in {
  0% {
    stroke-dashoffset: 240;
  }
  40% {
    stroke-dashoffset: 240;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-out {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 240;
  }
  100% {
    stroke-dashoffset: 240;
  }
}

@keyframes dash-out {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 240;
  }
  100% {
    stroke-dashoffset: 240;
  }
}

.burger-icon {
  position: absolute;
  padding: 20px 16px;
  height: 68px;
  width: 68px;
}

.burger-container {
  position: relative;
  height: 28px;
  width: 36px;
}

.burger-bun-top,
.burger-bun-bot,
.burger-filling {
  position: absolute;
  display: block;
  height: 4px;
  width: 36px;
  border-radius: 2px;
  background: #155E63;
}

.burger-bun-top {
  top: 0;
  -webkit-transform-origin: 34px 2px;
          transform-origin: 34px 2px;
}

.burger-bun-bot {
  bottom: 0;
  -webkit-transform-origin: 34px 2px;
          transform-origin: 34px 2px;
}

.burger-filling {
  top: 12px;
}

.burger-ring {
  position: absolute;
  top: 0;
  left: 0;
  width: 68px;
  height: 68px;
}

.svg-ring {
  width: 68px;
  height: 68px;
}

.hamburglar.is-open .burger-bun-top {
  -webkit-animation: bun-top-out 0.6s linear normal;
          animation: bun-top-out 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.hamburglar.is-open .burger-bun-bot {
  -webkit-animation: bun-bot-out 0.6s linear normal;
          animation: bun-bot-out 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.hamburglar.is-closed .burger-bun-top {
  -webkit-animation: bun-top-in 0.6s linear normal;
          animation: bun-top-in 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.hamburglar.is-closed .burger-bun-bot {
  -webkit-animation: bun-bot-in 0.6s linear normal;
          animation: bun-bot-in 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes bun-top-out {
  0% {
    left: 0;
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    left: 0;
    top: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  80% {
    left: -5px;
    top: 0;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  100% {
    left: -5px;
    top: 1px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@keyframes bun-top-out {
  0% {
    left: 0;
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    left: 0;
    top: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  80% {
    left: -5px;
    top: 0;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  100% {
    left: -5px;
    top: 1px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@-webkit-keyframes bun-bot-out {
  0% {
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    left: 0;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  80% {
    left: -5px;
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  100% {
    left: -5px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes bun-bot-out {
  0% {
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    left: 0;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  80% {
    left: -5px;
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  100% {
    left: -5px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes bun-top-in {
  0% {
    left: -5px;
    bot: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  20% {
    left: -5px;
    bot: 0;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  80% {
    left: 0;
    bot: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    left: 0;
    bot: 1px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes bun-top-in {
  0% {
    left: -5px;
    bot: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  20% {
    left: -5px;
    bot: 0;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  80% {
    left: 0;
    bot: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    left: 0;
    bot: 1px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes bun-bot-in {
  0% {
    left: -5px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  20% {
    left: -5px;
    bot: 0;
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  80% {
    left: 0;
    bot: 0;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes bun-bot-in {
  0% {
    left: -5px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  20% {
    left: -5px;
    bot: 0;
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  80% {
    left: 0;
    bot: 0;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.hamburglar.is-open .burger-filling {
  -webkit-animation: burger-fill-out 0.6s linear normal;
          animation: burger-fill-out 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.hamburglar.is-closed .burger-filling {
  -webkit-animation: burger-fill-in 0.6s linear normal;
          animation: burger-fill-in 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes burger-fill-in {
  0% {
    width: 0;
    left: 36px;
  }
  40% {
    width: 0;
    left: 40px;
  }
  80% {
    width: 36px;
    left: -6px;
  }
  100% {
    width: 36px;
    left: 0px;
  }
}

@keyframes burger-fill-in {
  0% {
    width: 0;
    left: 36px;
  }
  40% {
    width: 0;
    left: 40px;
  }
  80% {
    width: 36px;
    left: -6px;
  }
  100% {
    width: 36px;
    left: 0px;
  }
}

@-webkit-keyframes burger-fill-out {
  0% {
    width: 36px;
    left: 0px;
  }
  20% {
    width: 42px;
    left: -6px;
  }
  40% {
    width: 0;
    left: 40px;
  }
  100% {
    width: 0;
    left: 36px;
  }
}

@keyframes burger-fill-out {
  0% {
    width: 36px;
    left: 0px;
  }
  20% {
    width: 42px;
    left: -6px;
  }
  40% {
    width: 0;
    left: 40px;
  }
  100% {
    width: 0;
    left: 36px;
  }
}

.full-window-height {
  min-height: 900px;
  /* ONLY if you want the video to fill the entire browser window. Support: http://caniuse.com/#search=vh */
  max-height: 950px;
}

@media (max-height: 1400px) {
  .full-window-height {
    max-height: calc(100vh - 90px);
  }
}

@media (max-width: 1200px) {
  .full-window-height {
    min-height: 350px;
  }
}

.video-bg {
  position: relative;
  /* contain the abs-pos <video> */
  width: 100%;
  overflow: hidden;
  /* prevent scrollbars */
  /* these below don't matter: */
  /*padding: 10% 0; */
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5.625rem;
}

.video-bg ::-moz-selection {
  color: #FFF;
  background-color: rgba(21, 94, 99, 0.3);
}

.video-bg ::selection {
  color: #FFF;
  background-color: rgba(21, 94, 99, 0.3);
}

.video-bg h1 {
  font-family: "Merriweather", serif;
  color: #FFF;
  z-index: 101;
  position: relative;
  padding-left: 0.625rem;
}

.video-bg p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #FFF;
  opacity: 1;
  z-index: 101;
  position: relative;
  padding-left: 0.625rem;
}

.video-div {
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0px;
  height: 100vh;
  background-image: url("../img/icons/div.svg");
}

.video-filter {
  pointer-events: none;
  position: absolute;
  left: 0px;
  top: 25px;
  width: 100%;
  min-height: calc(800px + 90px);
  height: calc(100vh + 90px);
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

@media (max-height: 1400px) {
  .video-filter {
    top: 0px;
  }
}

@media (max-width: 1200px) {
  .video-filter {
    top: 0px;
  }
}

.video-bg video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* keep centered in parent */
  z-index: -1;
  /* keep video behind other content */
  min-width: 100%;
  /* always cover horizontal */
  min-height: 100%;
  /* always cover vertical */
}

.learn-more {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  color: #FFF;
  z-index: 101;
  bottom: 50px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  font-size: 0.9375rem;
}

.learn-more:hover {
  cursor: pointer;
}

.learn-more img {
  margin-top: 15px;
}

@media (min-width: 992px) {
  .animate {
    -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
    opacity: 0;
  }
}

@keyframes slideIn {
  0% {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
    opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

form label {
  font-family: "Merriweather", serif;
  font-weight: 400;
  margin-top: 15px;
  font-size: 17px;
  font-size: 1.0625rem;
}

form .form-control {
  border: 0px solid transparent;
  border-bottom: 1px solid gray;
  min-height: 50px;
  font-size: 1.2rem;
  border-radius: 0px;
}

form textarea {
  resize: vertical;
}

.captcha-wrapper {
  margin-top: 10px;
}

.custom-select.is-valid, .form-control.is-valid, .was-validated .custom-select:valid, .was-validated .form-control:valid {
  border-color: #155E63;
}

.btn {
  font-family: "Merriweather", serif;
  font-size: 15px;
  font-size: 0.9375rem;
  padding: 0.9375rem 2.5rem;
}

.btn-primary {
  color: #FFF;
  background-color: #155E63;
  border-color: #155E63;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-box-shadow: 0px 6px 14px 0px rgba(33, 37, 41, 0.101961);
          box-shadow: 0px 6px 14px 0px rgba(33, 37, 41, 0.101961);
  transition: 0.3s ease-in-out;
}

.btn-primary:hover {
  -webkit-box-shadow: 0px 6px 14px 0px rgba(33, 37, 41, 0.201961);
          box-shadow: 0px 6px 14px 0px rgba(33, 37, 41, 0.201961);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:visited {
  background-color: #114a4e;
  border-color: #114a4e;
  -webkit-box-shadow: -1px 6px 20px 0px #114a4e66;
          box-shadow: -1px 6px 20px 0px #114a4e66;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.featured-banner {
  margin-bottom: 40px;
}

.featured-wrapper .indent-section {
  padding-bottom: 20px;
}

.featured-img {
  height: 550px;
  width: 100%;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (max-width: 1440px) {
  .featured-img {
    height: 350px;
    background-size: cover;
    background-position: center 30%;
    background-repeat: no-repeat;
  }
}

@media (max-width: 660px) {
  .featured-img {
    height: 250px;
    background-size: cover;
    background-position: center 30%;
    background-repeat: no-repeat;
  }
}

.featured-slick .slick-dots {
  bottom: unset;
  top: 553px;
  text-align: right;
  padding-right: 0px;
}

@media (max-width: 1440px) {
  .featured-slick .slick-dots {
    top: 350px;
  }
}

@media (max-width: 1024px) {
  .featured-slick .slick-dots {
    top: unset;
    bottom: -50px;
    text-align: center;
  }
}

.featured-slick .slick-dots li.slick-active button:before {
  color: #155E63;
  background: #155E63;
}

.featured-link-list .category, .news-card .category {
  font-size: 11px;
  font-size: 0.6875rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.featured-link-list .title, .news-card .title {
  font-size: 25px;
  font-size: 1.5625rem;
  margin-bottom: 20px;
}

.featured-link-list > a, .news-card > a {
  margin-top: 10px;
}

.featured-link-list > a:hover .category, .news-card > a:hover .category {
  background-color: rgba(21, 94, 99, 0.1);
}

.trending-block {
  width: calc(100% + 80px);
  margin-left: -80px;
  margin-bottom: 30px;
  padding: 20px 30px;
  -webkit-box-shadow: 0px 1px 18px 0px rgba(33, 37, 41, 0.36);
          box-shadow: 0px 1px 18px 0px rgba(33, 37, 41, 0.36);
  background: #155E63;
  min-height: 270px;
  border-radius: 2px;
}

.trending-block.article-content .category {
  color: #FFF;
}

@media (max-width: 1440px) {
  .trending-block {
    width: calc(100% + 120px);
    margin-left: -120px;
  }
}

@media (max-width: 1130px) {
  .trending-block {
    width: calc(100% + 100px);
    margin-left: -100px;
  }
}

@media (max-width: 768px) {
  .trending-block {
    width: 100%;
    margin-left: 0px;
  }
}

@media (max-width: 1024px) {
  .trending-block {
    margin-top: 30px;
  }
}

.news-wrapper {
  background-color: #F9F9F9;
  min-height: 300px;
}

.news-row {
  margin-top: 30px;
  margin-bottom: 30px;
}

.news-card {
  position: relative;
  display: block;
  z-index: 100;
  margin-bottom: 20px;
}

.news-card .title {
  margin-bottom: 0px;
}

.news-card .date {
  font-size: 13px;
  font-size: 0.8125rem;
  color: #53616E;
}

.news-card .thumbnail {
  min-height: 290px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-size: cover;
  background-position: 30% center;
  background-repeat: no-repeat;
}

@media (max-width: 1024px) {
  .news-card .thumbnail {
    height: 400px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

@media (max-width: 660px) {
  .news-card .thumbnail {
    height: 250px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.news-card .thumbnail:hover {
  -webkit-box-shadow: 0px 6px 14px 0px rgba(33, 37, 41, 0.101961);
          box-shadow: 0px 6px 14px 0px rgba(33, 37, 41, 0.101961);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.news-card .thumbnail:hover:hover {
  -webkit-box-shadow: 0px 6px 14px 0px rgba(33, 37, 41, 0.201961);
          box-shadow: 0px 6px 14px 0px rgba(33, 37, 41, 0.201961);
}

.register-wrapper h1 {
  font-family: "Merriweather", serif;
  font-weight: 400;
  line-height: 1.5;
  padding: 20px 0px;
}

@media (max-width: 660px) {
  .register-wrapper h1 {
    font-size: 30px;
    font-size: 1.875rem;
  }
}

.register-wrapper p {
  color: #53616E;
  font-size: 23px;
  font-size: 1.4375rem;
}

@media (max-width: 660px) {
  .register-wrapper p {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

.register-wrapper .link-re {
  display: inline-block;
  margin-top: 30px;
}

.register-form {
  margin-top: 30px;
}

.about-header {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 30px;
  font-size: 1.875rem;
  color: #444444;
  line-height: 3.4375rem;
}

.article-card {
  width: 100%;
  margin-bottom: 60px;
}

.team-article-card {
  margin-bottom: 10px;
}

.article-card__thumbnail {
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 768px) {
  .article-card__thumbnail {
    height: 170px;
  }
}

.expanded-article-card .article-card__thumbnail {
  position: relative;
  height: 500px;
  background-position: center bottom;
}

@media (max-width: 660px) {
  .expanded-article-card .article-card__thumbnail {
    height: 300px;
  }
}

.recent-article-card .article-card__thumbnail {
  height: 250px;
}

.team-article-card .article-card__thumbnail {
  height: 250px;
}

.article-card__content {
  min-height: 300px;
  background-color: #F9F9F9;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.article-card__content > * {
  width: 100%;
}

.article-card__content .link-re {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  display: inline-block;
  width: auto;
}

.team-article-card .article-card__content {
  min-height: 150px;
  margin-bottom: 50px;
}

.team-article-card .article-card__content .title {
  font-size: 30px;
  font-size: 1.875rem;
}

.service-card .article-card__content {
  min-height: 500px;
}

.service-card .article-card__content .title {
  font-size: 25px;
  font-size: 1.5625rem;
}

.service-card .article-card__content .description {
  font-size: 15px;
  font-size: 0.9375rem;
}

.recent-article-card .article-card__content {
  min-height: 200px;
  background-color: #FFF;
  padding: 0px 10px;
  display: block;
}

.recent-article-card .article-card__content .title {
  font-size: 30px;
  font-size: 1.875rem;
}

@media (max-width: 768px) {
  .recent-article-card .article-card__content {
    margin-top: 20px;
  }
}

.expanded-article-card .article-card__content {
  width: calc(100% - 100px);
  margin-left: 50px;
  position: relative;
  margin-top: -50px;
  background-color: #FFF;
  padding: 50px 60px;
  -webkit-box-shadow: 0px 6px 14px 0px rgba(33, 37, 41, 0.101961);
          box-shadow: 0px 6px 14px 0px rgba(33, 37, 41, 0.101961);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media (max-width: 660px) {
  .expanded-article-card .article-card__content {
    width: calc(100% - 20px);
    margin-left: 10px;
    padding: 50px 55px;
  }
}

.expanded-article-card .article-card__content:hover {
  -webkit-box-shadow: 0px 6px 14px 0px rgba(33, 37, 41, 0.201961);
          box-shadow: 0px 6px 14px 0px rgba(33, 37, 41, 0.201961);
}

.expanded-article-card .article-card__content .description {
  line-height: 2;
}

.stats-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.statistics-wrapper .stats-row {
  margin-top: 80px;
  margin-bottom: 80px;
}

@media (max-width: 660px) {
  .statistics-wrapper .stats-row {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.stats-card {
  width: calc(80% / 3);
  margin-top: 60px;
  margin-bottom: 60px;
}

.stats-card:nth-child(3n + 1), .stats-card:nth-child(3n + 2) {
  border-right: 1px solid #707070;
}

.stats-card:last-child {
  border-right: 0px solid transparent;
}

@media (max-width: 1130px) {
  .stats-card {
    width: calc(90% / 3);
  }
}

@media (max-width: 768px) {
  .stats-card {
    width: calc(90% / 3);
  }
}

@media (max-width: 660px) {
  .stats-card {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.stats-card h1.stats-title {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 65px;
  font-size: 4.0625rem;
  padding-bottom: 0px;
}

@media (max-width: 1130px) {
  .stats-card h1.stats-title {
    font-size: 35px;
    font-size: 2.1875rem;
  }
}

@media (max-width: 768px) {
  .stats-card h1.stats-title {
    font-size: 25px;
    font-size: 1.5625rem;
  }
}

@media (max-width: 660px) {
  .stats-card h1.stats-title {
    font-size: 22px;
    font-size: 1.375rem;
  }
}

.stats-card h2.stats-desc {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 40px;
  font-size: 2.5rem;
}

@media (max-width: 1130px) {
  .stats-card h2.stats-desc {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  .stats-card h2.stats-desc {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

@media (max-width: 660px) {
  .stats-card h2.stats-desc {
    font-size: 17px;
    font-size: 1.0625rem;
  }
}

.stats-card small.stats-sub {
  display: block;
  color: #707070;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 25px;
  font-size: 1.5625rem;
}

@media (max-width: 1130px) {
  .stats-card small.stats-sub {
    font-size: 15px;
    font-size: 0.9375rem;
  }
}

@media (max-width: 768px) {
  .stats-card small.stats-sub {
    font-size: 15px;
    font-size: 0.9375rem;
  }
}

@media (max-width: 660px) {
  .stats-card small.stats-sub {
    font-size: 12px;
    font-size: 0.75rem;
  }
}

.fixed-banner {
  position: fixed;
  top: 90px;
  left: 0px;
  width: 100%;
  height: 700px;
  background-color: #FFF;
  background-position: center center;
  background-size: cover;
  z-index: 100;
}

@media (max-width: 1440px) {
  .fixed-banner {
    height: 500px;
  }
}

@media (max-width: 768px) {
  .fixed-banner {
    height: 350px;
  }
}

@media (max-width: 660px) {
  .fixed-banner {
    height: 250px;
  }
}

@media (max-width: 425px) {
  .fixed-banner {
    height: 200px;
  }
}

.fixed-banner + * {
  margin-top: 700px;
}

@media (max-width: 1440px) {
  .fixed-banner + * {
    margin-top: 500px;
  }
}

@media (max-width: 768px) {
  .fixed-banner + * {
    margin-top: 350px;
  }
}

@media (max-width: 660px) {
  .fixed-banner + * {
    margin-top: 250px;
  }
}

@media (max-width: 425px) {
  .fixed-banner + * {
    margin-top: 200px;
  }
}

footer {
  background-color: #F9F9F9;
  padding-top: 30px;
  position: relative;
  z-index: 110;
}

footer .main-content {
  padding-right: 60px;
}

footer .main-content > *:not(:first-child) {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (max-width: 1440px) {
  footer .main-content {
    padding-right: 0px;
  }
}

footer .indent-section {
  padding-bottom: 30px;
  padding-top: 30px;
}

footer .sub-content .article-content.styled-links:first-child {
  margin-bottom: 20px;
}

footer .sub-content .vertical-link-list:not(:first-child) {
  margin-bottom: 30px;
}

footer .sub-content .vertical-link-list a {
  font-size: 15px;
  font-size: 0.9375rem;
}

footer .sub-content .vertical-link-list a:after {
  display: none;
}

footer .sub-content .vertical-link-list a img {
  margin-top: -5px;
  margin-right: 10px;
  margin-bottom: 10px;
}
/*# sourceMappingURL=main.css.map */