.register-wrapper{
	h1{
		@include primary_font('regular');
		line-height: 1.5;
		padding: 20px 0px;
		@include font-size(34px);
		@include mobile(){
			@include font-size(30px);
		}

	}
	p{
		color: color('gray');
		@include font-size(20px);
		@include mobile(){
			@include font-size(20px);
		}
	}
	.link-re{
		display: inline-block;
		margin-top: 30px;
	}
}

.register-form{
	margin-top: 30px;
}