/* Override modal */
.modal{
    z-index: 10000;
}

.modal-lg{
        @media (min-width: 992px){
            max-width: 992px; 
        }
}

.modal-header{
    border-bottom: 0px solid transparent;
    padding-bottom: 0px;
}

.modal-backdrop{
	z-index: 5600;
	pointer-events: none;
}

.request-quote-form{
    transform: scale(0.8) translate(-45px, -90px) ;
}